@import "variable";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

body {
  font-family: "Rubik", sans-serif;
}

/* Bootstrap pagination colors amend */
.pagination > li > a,
.pagination > li > span {
  color: #6c757d!important;
}

.pagination > li.active > a {
  background: #6c757d!important;
  color: #fff !important;
  border-color: #6c757d!important;
}