<template>
  <div class="container">
    <b-row align-h="center" mt-4>
      <b-col cols="md-5" class="mt-2">
        <b-card header="Login" header-tag="header">
          <b-form @submit="login">
            <b-form-group label="Email">
              <b-form-input
                v-model="email"
                type="email"
                required
                placeholder="Enter email"
                autocomplete="current-email"
              ></b-form-input>
            </b-form-group>

            <b-form-group label="Password">
              <b-form-input
                v-model="password"
                type="password"
                required
                placeholder="Enter password"
                autocomplete="current-password"
              ></b-form-input>
            </b-form-group>

            <b-button type="submit" variant="warning" class="mr-1 btn-sm">Login</b-button>
            <b-button type="reset" variant="secondary" class="btn-sm">Cancel</b-button>
          </b-form>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import {AUTH_REQUEST} from '../store/actions/auth'
export default {
  name: "login",
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    login() {
      const { email, password } = this
      this.$store.dispatch(AUTH_REQUEST, { email, password })
      .then(() => {
        this.$router.push('customer')
      })
      .catch(err => {
        alert(err.response.data.message)
      })
    }
  }
}
</script>
