<template>
  <div class="container">
    <b-row align-h="center" mt-4>
      <b-col cols="md-6" class="mt-2">
        <b-card header="Create New Customer" header-tag="header">
          <b-form @submit="submit">

            <b-form-group label="Name">

              <b-form-input
                v-model="customer.name"
                type="text"
                autocomplete="false"
                :state="errors.name ? false : null"
              ></b-form-input>

              <b-form-invalid-feedback>
                {{ errors.name }}
                </b-form-invalid-feedback>

            </b-form-group>

            <b-form-group label="Email">

              <b-form-input
                v-model="customer.email"
                type="email"
                autocomplete="false"
                :state="errors.email ? false : null"
              ></b-form-input>

              <b-form-invalid-feedback>
                {{ errors.email }}
                </b-form-invalid-feedback>

            </b-form-group>

            <b-form-group label="Age">

              <b-form-input
                v-model="customer.age"
                type="number"
                autocomplete="false"
                :state="errors.age ? false : null"
              ></b-form-input>

              <b-form-invalid-feedback>
                {{ errors.age }}
                </b-form-invalid-feedback>

            </b-form-group>

            <b-button type="submit" variant="warning" class="mr-1 btn-sm">Create</b-button>
            <router-link to="/customer" class="btn btn-secondary btn-sm">Cancel</router-link>
          </b-form>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { httpClient } from '../../services/httpClient';
import { mapGetters } from 'vuex';
export default {
  name: "customer-create",
  data() {
    return {
      customer: {
        name: "",
        email: "",
        age: ""
      },
      errors: []
    };
  },
  methods: {
    submit() {
      this.errors = {}
      httpClient
        .post("/customer", {
          name: this.customer.name,
          email: this.customer.email,
          age: this.customer.age,
          user: this.getProfile
        })
        .then(resp => {
          this.$router.push('/customer')
        })
        .catch(err => {
          let errors = {}
          switch(err.response.status) {
            case 422:
              err.response.data.errors.forEach(item => {
                errors[item.context.label] = item.message;
              });
              this.errors = errors
              break
            case 409:
              alert('Customer already exist')
              break
          }
        });
    }
  },
  computed: {
    ...mapGetters(['getProfile'])
  }
};
</script>

<style>
</style>