<template>
  <div class="container">
    <b-row align-h="center" mt-4>
      <b-col cols="md-6" class="mt-2">
        <b-card header="Edit Existing Customer" header-tag="header">
          <b-form @submit="edit">

            <b-form-group label="Name">

              <b-form-input
                v-model="customer.name"
                type="text"
                autocomplete="false"
                :state="errors.name ? false : null"
              ></b-form-input>

              <b-form-invalid-feedback>
                {{ errors.name }}
                </b-form-invalid-feedback>

            </b-form-group>

            <b-form-group label="Email">

              <b-form-input
                v-model="customer.email"
                type="email"
                autocomplete="false"
                :state="errors.email ? false : null"
              ></b-form-input>

              <b-form-invalid-feedback>
                {{ errors.email }}
                </b-form-invalid-feedback>

            </b-form-group>

            <b-form-group label="Age">

              <b-form-input
                v-model="customer.age"
                type="number"
                autocomplete="false"
                :state="errors.age ? false : null"
              ></b-form-input>

              <b-form-invalid-feedback>
                {{ errors.age }}
                </b-form-invalid-feedback>

            </b-form-group>

            <b-button type="submit" variant="warning" class="mr-1 btn-sm">Update</b-button>
            <router-link to="/customer" class="btn btn-secondary btn-sm">Cancel</router-link>

            <b-button type="button" variant="danger" class="mr-1 btn-sm float-right" @click="destroy">Delete</b-button>
          </b-form>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { httpClient } from '../../services/httpClient';
import { mapGetters } from 'vuex';
export default {
  name: "customer-create",
  data() {
    return {
      customer: {
        name: "",
        email: "",
        age: "",
      },
      errors: []
    };
  },
  methods: {
    edit() {
      this.errors = {} //FIXME: Workaround to reset validation error
      httpClient
        .patch("/customer/" +  this.$route.params.id, {
          name: this.customer.name,
          email: this.customer.email,
          age: this.customer.age,
          user: this.getProfile
        })
        .then(resp => {
          this.$router.go(-1)
        })
        .catch(err => {
          let errors = {}
          switch(err.response.status) {
            case 422:
              err.response.data.errors.forEach(item => {
                errors[item.context.label] = item.message;
              });
              this.errors = errors
              break
            case 409:
              alert('Email address already existed')
              break
          }
        });
    },
    destroy() {
      let isConfirm = confirm('Sure wanna delete?');
      if (isConfirm) {
        httpClient
        .delete("/customer/" + this.$route.params.id)
        .then(resp => {
          alert('Customer deleted.');
          this.$router.push('/customer');
        })
        .catch(err => {
          switch(err.response.status) {
            case 404:
              alert('Customer does not exist')
              this.$router.push('/customer')
              break
          }
        });
      }
    }
  },
  mounted() {
    httpClient
        .get("/customer/" + this.$route.params.id)
        .then(resp => {
          let { name, email, age } = resp.data
          this.customer = { name, email, age }
        })
        .catch(err => {
          switch(err.response.status) {
            case 404:
              alert('Customer does not exist')
              this.$router.push('/customer')
              break
          }
        });
  },
  computed: {
    ...mapGetters(['getProfile'])
  }
};
</script>

<style>

</style>