<template>
  <div class="container">
    <b-row align-h="center">
      <b-col cols="md-6" class="mt-2">
        <b-card header="Customer List" header-tag="header">
          <b-list-group>
            <b-list-group-item
              v-for="customer in customers"
              v-bind:key="customer.id"
              @click="edit(customer._id)"
              button
            >{{ customer.name }} <small class="float-right text-muted">{{ customer.email }}</small></b-list-group-item>
          </b-list-group>
          <router-link
            to="/customer/create"
            class="btn btn-warning btn-sm btn-block mt-3"
          >+ New Customer</router-link>
        </b-card>
      </b-col>
    </b-row>

    <b-row align-h="center" class="mt-2">
      <b-col cols="md-6">
        <p style="text-align:center;">
          <small class="text-muted">Total of {{ pagination.total }} record(s) found. <br /> Showing only {{ pagination.perPage }} record(s) per page.</small>
          </p>
        <b-pagination-nav 
        align="center" 
        size="sm" 
        :link-gen="linkGen" 
        :number-of-pages="numberOfPages" 
        use-router
        ></b-pagination-nav>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { httpClient } from "../../services/httpClient";
export default {
  name: "customer-list",
  data() {
    return {
      customers: [],
      pagination: {
        perPage: "",
        total: ""
      }
    };
  },
  mounted() {
    this.fetchByPage()
  },
  methods: {
    edit(id) {
      this.$router.push({ name: "customer-edit", params: { id: id } });
    },

    linkGen(pageNum) {
      return pageNum === 1 ? "?" : `?page=${pageNum}`;
    },
    
    fetchByPage() {
      httpClient
      .get("/customer", {
        params: {
          page: this.$route.query.page || 1
        }
      })
      .then(resp => {
        this.customers = resp.data.docs;
        this.pagination = {
          perPage: resp.data.limit,
          total: resp.data.total
        };
      });
    }
  },
  computed: {
    numberOfPages() {
      return parseInt((this.pagination.total + this.pagination.perPage - 1) / this.pagination.perPage) || 1
    }
  },
  watch: {
    '$route.query.page': 'fetchByPage'
  },
};
</script>

<style>
</style>